.columnBtnContainer {
  display: flex;
  
  align-items: center;
}

.columnBtn {
  width: 15px;
  height: 20px;
  font-size: 14px;
  border: none;
  margin-right: 5px;
}

.form {
  display: flex;
}

.input {
  width: 170px;
  height: 25px;
  margin: 0 5px;
}

.columnHeaderTitle {
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}