.columnBtnContainer {
  display: flex;
}

.columnBtn {
  width: 15px;
  height: 20px;
  font-size: 14px;
  border: none;
  margin-right: 5px;
}

.input {
  width: 170px;
  height: 20px;
  margin: 0 5px;
}
