.welcome {
  padding-top: 10em;
  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 44px;
    text-align: center;
  }
  &__subtitle {
  }
  &__btn{
    color: white;
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
  &__btn-light{
    color: #0d6efd;
    .btn-light__link{
      text-decoration: none;
    }
    &:hover{
      .btn-light__link{
        color: white;
      }
    }


  }
  &__about{
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
  }
  &__about-descr {
    font-size: 28px;
    text-align: center;
  }

  &__about-course {
    font-size: 22px;
    margin-top: 40px;
    text-align: center;
  }

  &__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }

  &__about-team {
    text-align: center;
    margin-top: 70px;
  }
  &__about-team--text {
    font-size: 22px;
  }
}

.item {
  margin-right: 20px;

  a {
    text-decoration: none;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  background-image: url('../../assets/avatar.png');
  background-size: cover;
  margin-bottom: 15px;
}
