.taskWrapper {
  position: relative;
  margin-bottom: 10px;
  transition: 0.5s;
}

.task {
  width: 100%;
  min-height: 20px;
  background-color: aquamarine;
  box-shadow: 1px 1px 1px #999;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.taskDelete {
  display: none;
  //position: absolute;
  right: 5px;
  top: 5px;
  //border: none;
  width: 20px;
  height: 25px;
  //background-color: red;
  //cursor: pointer;
  //transition: display 0.5s linear;
}

.taskWrapper:hover .taskDelete{
  display: flex;
  transition-duration: 0.5s
  //transition: display 0.5s;
}
